{% extends 'base.html.twig' %}

{% block title %}Receipts{% endblock %}

{% block body %}
    {% for message in app.flashes('information') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    <div class="col">
        <a class="btn float-right" href="{{ path('receipt.create') }}">
            Create
        </a>
    </div>
    <h2>List of all receipts</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <td>ID</td>
            <td>Date</td>
            <td>Worker_login</td>
            <td>Item_ID</td>
            <td>Amount</td>
            <td>Actions</td>
        </tr>
        </thead>
        <tbody>
        {% for receipt in receipts %}
            <tr>
                <td>{{ receipt.id }}</td>
                <td>{{ receipt.date }}</td>
                <td>{{ receipt.workerlogin }}</td>
                <td>{{ receipt.itemid }}</td>
                <td>{{ receipt.amount }}</td>
                <td>
                    <a class="btn" href="{{ path('receipt.delete', {id: receipt.id}) }}">
                        Delete
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}


