{% extends 'base.html.twig' %}

{% block title %}Employees{% endblock %}

{% block body %}
    {% for message in app.flashes('information') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    <div class="col">
        <a class="btn float-right" href="{{ path('employee.create') }}">
            Create
        </a>
    </div>
    <h2>List of all employees</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <td>ID</td>
            <td>Name</td>
            <td>Actions</td>
        </tr>
        </thead>
        <tbody>
        {% for employee in employees %}
            <tr>
                <td>{{ employee.id }}</td>
                <td>{{ employee.name }}</td>
                <td>
                    <a class="btn" href="{{ path('employee.delete', {id: employee.id}) }}">
                        Delete
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}


